.single-article .entry-content> h1 {
    padding: 0px 20px;
    border-left: 10px solid #ed515191;
    background-color: rgba(208, 208, 208, 0);
    font-size: 19px;
    line-height: 30px;
    color: cornflowerblue;
    font-weight: bold;
    margin: 5px 0;
}

.single-article .entry-content> h2 {
    padding: 0px 20px;
    border-left: 10px solid #BF51ED91;
    background-color: rgba(208, 208, 208, 0);
    font-size: 18px;
    line-height: 30px;
    color: cornflowerblue;
    font-weight: bold;
    margin: 5px 0;
}

.single-article .entry-content> h3 {
    padding: 0px 20px;
    border-left: 10px solid #6495ed91;
    background-color: rgba(208, 208, 208, 0);
    font-size: 17px;
    line-height: 27px;
    color: cornflowerblue;
    font-weight: bold;
    margin: 5px 0;
}

.single-article .entry-content> h4 {
    padding: 0px 20px;
    border-left: 10px solid #e2aa2b91;
    background-color: rgba(208, 208, 208, 0);
    font-size: 16px;
    line-height: 24px;
    color: cornflowerblue;
    font-weight: bold;
    margin: 5px 0;
}

.single-article .entry-content> h5 {
    padding: 0 20px;
    border-left: 10px solid #64c1c191;
    background-color: rgba(208, 208, 208, 0);
    font-size: 15px;
    line-height: 21px;
    color: cornflowerblue;
    font-weight: bold;
    margin: 5px 0;
}