.single-article .entry-content>h1,.single-article .entry-content>h2,.single-article .entry-content>h3,.single-article .entry-content>h4,.single-article .entry-content>h5,.single-article .entry-content>h6 {
    font-weight: bold;
    margin: 18px 0;
    border-bottom: 1px solid #eaeaea;
    padding-left: 26px;
}
.single-article .entry-content>h1:before,.single-article .entry-content>h2:before,.single-article .entry-content>h3:before,.single-article .entry-content>h4:before,.single-article .entry-content>h5:before,.single-article .entry-content>h6:before {
    position: absolute;
    left: 0em;
    display: block;
    content: '#';
    color: #f72d84;
}