.plat-footer-grid {
	font-size: 0;
	box-sizing: border-box
}

.plat-footer-grid [class*=plat-footer-g-] {
	display: inline-block;
	zoom: 1;
	box-sizing: border-box;
	font-size: 14px;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: top
}

.plat-footer-grid-expand {
	margin-right: -10px;
	margin-left: -10px
}

.plat-footer-grid-inner {
	font-size: 0;
	padding: 0;
	box-sizing: border-box;
	margin-right: -10px;
	margin-left: -10px
}

.plat-footer-grid-inner [class*=plat-footer-g-] {
	display: inline-block;
	zoom: 1;
	box-sizing: border-box;
	font-size: 14px;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: top
}

.plat-footer-g-1 {
	width: 4.1667%
}

.plat-footer-g-2 {
	width: 8.3333%
}

.plat-footer-g-3 {
	width: 12.5%
}

.plat-footer-g-4 {
	width: 16.6667%
}

.plat-footer-g-5 {
	width: 20%
}

.plat-footer-g-6 {
	width: 25%
}

.plat-footer-g-7 {
	width: 29.1667%
}

.plat-footer-g-8 {
	width: 33.3333%
}

.plat-footer-g-9 {
	width: 37.5%
}

.plat-footer-g-10 {
	width: 41.6667%
}

.plat-footer-g-11 {
	width: 45.8333%
}

.plat-footer-g-12 {
	width: 50%
}

.plat-footer-g-13 {
	width: 54.1667%
}

.plat-footer-g-14 {
	width: 58.3333%
}

.plat-footer-g-15 {
	width: 62.5%
}

.plat-footer-g-16 {
	width: 66.6667%
}

.plat-footer-g-17 {
	width: 70.8333%
}

.plat-footer-g-18 {
	width: 75%
}

.plat-footer-g-19 {
	width: 79.1667%
}

.plat-footer-g-20 {
	width: 83.3333%
}

.plat-footer-g-21 {
	width: 87.5%
}

.plat-footer-g-22 {
	width: 91.6667%
}

.plat-footer-g-23 {
	width: 95.8333%
}

.plat-footer-g-24 {
	width: 100%
}

.plat-footer-hidden {
	display: none !important
}

@media(max-width: 1200px) {
	.plat-footer-grid .l-24 {
		width: 100%
	}

	.plat-footer-grid .l-12 {
		width: 50%
	}

	.plat-footer-grid .l-8 {
		width: 33.3333%
	}

	.plat-footer-grid .l-6 {
		width: 25%
	}

	.plat-footer-grid .l-5 {
		width: 20%
	}

	.plat-footer-hidden-l {
		display: none !important
	}

	.plat-footer-visible-l-block {
		display: block !important
	}

	.plat-footer-visible-l-inline {
		display: inline !important
	}

	.plat-footer-visible-l-inline-block {
		display: inline-block !important
	}
}

@media(max-width: 1000px) {
	.plat-footer-grid .m-24 {
		width: 100%
	}

	.plat-footer-grid .m-12 {
		width: 50%
	}

	.plat-footer-grid .m-8 {
		width: 33.3333%
	}

	.plat-footer-grid .m-6 {
		width: 25%
	}

	.plat-footer-grid .m-5 {
		width: 20%
	}

	.plat-footer-hidden-m {
		display: none !important
	}

	.plat-footer-visible-m-block {
		display: block !important
	}

	.plat-footer-visible-m-inline {
		display: inline !important
	}

	.plat-footer-visible-m-inline-block {
		display: inline-block !important
	}
}

@media(max-width: 768px) {
	.plat-footer-g-6 {
		width: 50%
	}

	.plat-footer-g-4 {
		width: 50%
	}

	.plat-footer-g-3 {
		width: 50%
	}

	.plat-footer-g-2 {
		width: 50%
	}

	.plat-footer-grid .s-24 {
		width: 100%
	}

	.plat-footer-grid .s-12 {
		width: 50%
	}

	.plat-footer-grid .s-8 {
		width: 33.3333%
	}

	.plat-footer-grid .s-6 {
		width: 25%
	}

	.plat-footer-grid .s-5 {
		width: 20%
	}

	.plat-footer-hidden-s {
		display: none !important
	}

	.plat-footer-visible-s {
		display: block !important
	}

	.plat-footer-visible-s-inline {
		display: inline !important
	}

	.plat-footer-visible-s-inline-block {
		display: inline-block !important
	}
}

@media(max-width: 600px) {
	.plat-footer-g-12 {
		width: 100%
	}

	.plat-footer-g-6 {
		width: 100%
	}

	.plat-footer-g-8 {
		width: 100%
	}

	.plat-footer-g-4 {
		width: 100%
	}

	.plat-footer-g-3 {
		width: 100%
	}

	.plat-footer-g-2 {
		width: 100%
	}

	.plat-footer-grid .xs-24 {
		width: 100%
	}

	.plat-footer-grid .xs-12 {
		width: 50%
	}

	.plat-footer-grid .xs-8 {
		width: 33.3333%
	}

	.plat-footer-grid .xs-6 {
		width: 25%
	}

	.plat-footer-grid .xs-5 {
		width: 20%
	}

	.plat-footer-hidden-xs {
		display: none !important
	}

	.plat-footer-visible-xs {
		display: block !important
	}

	.plat-footer-visible-xs-inline {
		display: inline !important
	}

	.plat-footer-visible-xs-inline-block {
		display: inline-block !important
	}
}

.plat-footer {
	min-width: 320px;
	background: #f5f5f5;
	display: none;
}

.plat-footer :focus {
	outline: none
}

.plat-footer-inner {
	box-sizing: border-box;
	margin: 0 auto;
	max-width: 1180px;
	padding: 30px 0;
	border-bottom: 1px solid #e3e3e3;
	-webkit-font-smoothing: antialiased
}

.plat-footer .plat-footer-hidden {
	display: none
}

.plat-footer-service .plat-footer-inner {
	font-size: 0;
	text-align: center
}

.plat-footer-service-list {
	box-sizing: border-box;
	display: table;
	width: 100%
}

.plat-footer-service-list>li {
	display: table-cell;
	width: 21.5%;
	vertical-align: top;
	text-align: left;
	white-space: nowrap
}

.plat-footer-service-list>li:last-child {
	width: 14%
}

.plat-footer-service-item {
	font-size: 14px;
	color: #555
}

.plat-footer-service-item .icon {
	display: inline-block;
	width: 32px;
	height: 32px;
	vertical-align: middle;
	margin-right: 10px
}

.plat-footer-service-item .icon-1 {
	background-image: url(../../images/ZdsjuX/fs-icon-1.svg);
	filter: brightness(50%);
}

.plat-footer-service-item .icon-2 {
	background-image: url(../img/fs-icon-2.svg);
	filter: brightness(50%);
}

.plat-footer-service-item .icon-3 {
	background-image: url(../img/fs-icon-3.svg);
	filter: brightness(50%);
}

.plat-footer-service-item .icon-4 {
	background-image: url(../img/fs-icon-4.svg);
	filter: brightness(50%);
}

.plat-footer-service-item .icon-5 {
	background-image: url(../img/fs-icon-5.svg);
	filter: brightness(50%);
}

@media screen and (min-width: 769px) {
	.plat-footer-service-item:hover {
		color: #0038ff
	}

	.plat-footer-service-item:hover .icon-1 {
		background-image: url(../../images/ZdsjuX/fs-icon-1-h.svg)
	}

	.plat-footer-service-item:hover .icon-2 {
		background-image: url(../img/fs-icon-2-h.svg)
	}

	.plat-footer-service-item:hover .icon-3 {
		background-image: url(../img/fs-icon-3-h.svg)
	}

	.plat-footer-service-item:hover .icon-4 {
		background-image: url(../img/fs-icon-4-h.svg)
	}

	.plat-footer-service-item:hover .icon-5 {
		background-image: url(../img/fs-icon-5-h.svg)
	}
}

@media screen and (max-width: 768px) {
	.plat-footer-service-item:active {
		color: #0038ff
	}

	.plat-footer-service-item:active .icon-1 {
		background-image: url(../../images/ZdsjuX/fs-icon-1-h.svg)
	}

	.plat-footer-service-item:active .icon-2 {
		background-image: url(../img/fs-icon-2-h.svg)
	}

	.plat-footer-service-item:active .icon-3 {
		background-image: url(../img/fs-icon-3-h.svg)
	}

	.plat-footer-service-item:active .icon-4 {
		background-image: url(../img/fs-icon-4-h.svg)
	}

	.plat-footer-service-item:active .icon-5 {
		background-image: url(../img/fs-icon-5-h.svg)
	}
}

.plat-footer-website .plat-footer-inner {
	position: relative;
	padding-bottom: 27px;
	min-height: 200px
}

.plat-footer-website-columns.plat-footer-grid {
	margin-left: 0;
	margin-right:230px;
	padding: 0
}

.plat-footer-website-columns [class*=plat-footer-g-] {
	padding-left: 0;
	padding-right: 20px
}

.plat-footer-website-title {
	margin-bottom: 15px;
	font-size: 14px;
	line-height: 1.5;
	font-weight: normal;
	color: #333
}

.plat-footer-website-title a,
.plat-footer-website-title a:hover {
	display: block;
	color: inherit;
	cursor: default
}

.plat-footer-website-list a {
	display: block;
	padding: 4px 0;
	font-size: 12px;
	line-height: 1.5;
	color: #555
}

.plat-footer-website-list a:hover {
	text-decoration: none
}

@media screen and (min-width: 769px) {
	.plat-footer-website-list a:hover {
		color: #0038ff
	}
}

@media screen and (max-width: 768px) {
	.plat-footer-website-list a:active {
		color: #0038ff
	}
}

.plat-footer-copyright {
	position: absolute;
	right: 0;
	top: 30px;
	width: 230px
}

.plat-footer-share-links {
	font-size: 0
}

.plat-footer-share-links>li {
	display: inline-block;
	vertical-align: middle;
	width: 30%
}

.plat-footer-bubble-wrap {
	position: relative
}

.plat-footer-share-bubble {
	position: absolute;
	left: 0;
	top: 100%;
	z-index: 900;
	padding-top: 10px;
	width: 190px;
	text-align: center;
	font-size: 14px;
	color: #ccc;
	visibility: hidden;
	transition: .3s ease;
	transition-delay: 0s;
	pointer-events: none;
	opacity: 0
}

.plat-footer-show-bubble .plat-footer-share-bubble,
.plat-footer-bubble-wrap:hover .plat-footer-share-bubble {
	visibility: visible;
	transition-delay: .1s;
	opacity: 1;
	pointer-events: auto
}

.plat-footer-share-bubble-inner {
	position: relative
}

.plat-footer-share-bubble-inner:before {
	content: "";
	position: absolute;
	left: 5px;
	bottom: 100%;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 4px 4px;
	border-color: #fff transparent
}

.plat-footer-share-bubble .bubble-qr {
	box-sizing: border-box;
	margin-bottom: 7px;
	padding: 15px;
	background-color: #fff
}

.plat-footer-share-bubble .bubble-qr.no-pd {
	padding: 0
}

.plat-footer-share-bubble .bubble-qr img {
	display: block;
	width: 100%;
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: -moz-crisp-edges;
	image-rendering: pixelated
}

.plat-footer-share-bubble .bubble-cnt.mobile {
	display: none
}

.plat-footer-share-links a {
	display: block
}

.plat-footer-share-links .icon {
	display: inline-block;
	vertical-align: middle;
	width: 28px;
	height: 28px;
	filter: brightness(75%);
}

.plat-footer-share-links .icon.wechat {
	background-image: url(../img/wechat.svg)
}

.plat-footer-share-links .icon.weibo {
	background-image: url(../img/weibo.svg);
}
.plat-footer-share-links .icon.email {
	background-image: url(../img/email.png);
	background-repeat:no-repeat;
	background-size: 30px;
	    background-position: 0 -3px;

}
.plat-footer-share-links .icon.facebook {
	background-image: url(../img/facebook.svg)
}

@media screen and (min-width: 769px) {

	.plat-footer-share-links a:hover .icon.wechat,
	.plat-footer-show-bubble .icon.wechat {
		background-image: url(../img/wechat-hover.svg)
	}

	.plat-footer-share-links a:hover .icon.weibo {
		background-image: url(../img/weibo-hover.svg)
	}
    .plat-footer-share-links a:hover .icon.email {
		background-image: url(../img/email-a.png);
	}
	.plat-footer-share-links a:hover .icon.facebook {
		background-image: url(../img/facebook-hover.svg)
	}
}

@media screen and (min-width: 600px) {
	.plat-footer-bubble-wrap:hover .icon.wechat {
		background-image: url(../img/wechat-hover.svg)
	}
}

@media screen and (max-width: 768px) {

	.plat-footer-share-links a:active .icon.wechat,
	.plat-footer-show-bubble .icon.wechat {
		background-image: url(../img/wechat-hover.svg)
	}

	.plat-footer-share-links a:active .icon.weibo {
		background-image: url(../img/weibo-hover.svg)
	}

	.plat-footer-share-links a:active .icon.facebook {
		background-image: url(../img/facebook-hover.svg)
	}
}

@media screen and (max-width: 600px) {
	.plat-footer-show-bubble .icon.wechat {
		background-image: url(../img/wechat.svg)
	}

	.plat-footer-share-links {
		position: relative;
		padding-bottom: 212px
	}

	.plat-footer-bubble-wrap {
		position: static
	}

	.plat-footer-share-bubble {
		visibility: visible;
		opacity: 1;
		pointer-events: auto;
		top: auto;
		bottom: 0;
		left: 50%;
		z-index: 300;
		margin-left: -80px;
		padding-top: 0;
		width: 160px;
		font-size: 12px
	}

	.plat-footer-share-bubble-inner:before {
		display: none
	}

	.plat-footer-share-bubble .bubble-qr {
		padding: 10px;
		height: 160px
	}

	.plat-footer-share-bubble .bubble-cnt {
		display: none
	}

	.plat-footer-share-bubble .bubble-cnt.mobile {
		display: block
	}
}

.plat-footer-copyright-text {
	font-size: 12px;
	line-height: 24px;
	color: #666
}

.plat-footer-copyright-text span {
	display: block
}

.plat-footer-copyright .plat-nav-btn {
	    width: 100%;
	    padding: 0;
	    font-size: 22px;
	    background: none;
	    text-align: left;
	    height: 30px;
		color: #555;
	font-weight: 700;
}
.fwrx{font-size:22px;}
.plat-footer-blogroll .plat-footer-inner {
	position: relative;
	min-height: 35px;
	border-bottom: none
}

.plat-footer-blogroll-main {
	margin-right: 100px
}

.plat-footer-blogroll-links {
	font-size: 0
}

.plat-footer-blogroll-links .icon-tc {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 91px;
	height: 16px;
	background-image: url(../img/footer.png);
}

.plat-footer-blogroll-links .slide {
	display: inline-block;
	vertical-align: middle;
	margin-right: 15px;
	font-size: 12px;
	line-height: 26px;
	color: #888;
	white-space: nowrap
}

.plat-footer-blogroll-links.copyright .slide:first-child {
	white-space: normal
}

.plat-footer-blogroll-links.copyright .slide:first-child span {
	white-space: nowrap
}

@media screen and (min-width: 769px) {
	.plat-footer-blogroll-links a.slide:hover {
		color: #0038ff
	}
}

@media screen and (max-width: 768px) {
	.plat-footer-short .mobile-part {
		margin-bottom: 0
	}

	.plat-footer-blogroll-links .slide {
		white-space: normal;
		margin-right: 0
	}

	.plat-footer-blogroll-links a.slide:active {
		color: #0038ff
	}

	.plat-footer-blogroll-links a.slide-ct {
		margin-right: 15px
	}
}

.plat-footer-blogroll-links-separate {
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	border: none
}
.ga{
background: url(../img/bot1.png)no-repeat;
    padding-left: 20px;
    background-position: 0 5px;
    background-size: 14px;
}
.gx{
background: url(../img/bot2.png)no-repeat;
    padding-left: 20px;
    background-position: 0 5px;
    background-size: 14px;
}
.plat-footer-blogroll-extra {
	position: absolute;
	right: 0;
	top: 35px;
}

.plat-footer-lang-switch {
	display: none;
	text-align: center;
	margin-top: 15px
}

.plat-footer-lang-switch a {
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	line-height: 24px;
	color: #ccc;
	min-width: 70px;
	text-align: left
}

.plat-footer-lang-switch a:first-child {
	text-align: right
}

.plat-footer-lang-switch a:active {
	color: #0038ff
}

.plat-footer-lang-switch .split {
	display: inline-block;
	vertical-align: middle;
	margin: 0 15px;
	width: 1px;
	height: 15px;
	background-color: #666
}

.plat-footer-select {
	position: relative
}

.plat-footer-select-trigger {
	box-sizing: border-box;
	display: block;
	padding: 0 30px 0 9px;
	height: 35px;
	border-radius: 2px;
	border: 1px solid rgba(0, 0, 0, .2);
	background-color: transparent;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 14px;
	line-height: 33px;
	color: #ccc;
	cursor: pointer
}

.plat-footer-select-trigger:after {
	content: "";
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -2px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 4px 4px 0;
	border-color: #ccc transparent;
	transition: transform .2s ease
}

.plat-footer-select-trigger .icon {
	position: relative;
	top: -1px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	width: 16px;
	height: 16px;
	background: url(../img/yy.png)no-repeat;
	background-size: 16px;
	opacity: .6;
	filter:brightness(50%);
}

.plat-footer-select .plat-footer-dropdown {
	display: none
}

.plat-footer-select:hover .plat-footer-dropdown,
.plat-footer-select.hover .plat-footer-dropdown {
	display: block
}

.plat-footer-select:hover .plat-footer-select-trigger:after,
.plat-footer-select.hover .plat-footer-select-trigger:after {
	-ms-transform: rotate(180deg);
	transform: rotate(180deg)
}

.plat-footer-dropdown {
	box-sizing: border-box;
	position: absolute;
	left: 0;
	bottom: 100%;
	z-index: 999;
	padding-bottom: 4px;
	width: 100%
}

.plat-footer-dropdown-menu {
	background-color: #383c42;
	border-radius: 2px;
	padding: 5px 0
}

.plat-footer-dropdown-menu a {
	display: block;
	padding: 0 10px;
	height: 30px;
	font-size: 14px;
	line-height: 30px;
	color: #ccc
}

.plat-footer-dropdown-menu a:hover {
	color: #0038ff
}

.plat-footer-dropdown-menu .actived a,
.plat-footer-dropdown-menu .actived a:hover {
	color: #0038ff;
	cursor: default
}

.plat-footer-tel-m {
	box-sizing: border-box;
	display: none;
	padding: 0 9px 0 9px;
	height: 35px;
	border-radius: 2px;
	border:1px solid rgba(0, 0, 0, 0.3);
	background-color: transparent;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 14px;
	line-height: 33px;
	color: #555;
	cursor: pointer;
	margin-bottom: 20px
}

@media screen and (max-width: 600px) {
	.plat-footer-tel-m {
		display: block
	}
}

.plat-footer-recommend-cell {
	position: relative;
	padding-left: 100px;
	min-height: 14px
}

.plat-footer-recommend-cell+.plat-footer-recommend-cell {
	margin-top: 15px
}

.plat-footer-recommend-tit {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	line-height: 14px;
	font-size: 14px;
	color: #fff;
	font-weight: normal;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden
}

.plat-footer-recommend-list-wrap {
	padding-left: 20px;
	overflow: hidden
}

.plat-footer-recommend-list {
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: -15px;
	font-size: 0px
}

.plat-footer-recommend-item {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 15px;
	padding: 0 10px;
	width: 100px
}

.plat-footer-recommend-link {
	line-height: 14px;
	font-size: 12px;
	color: #999
}

.plat-footer-recommend-link:hover {
	color: #0038ff
}

@media screen and (max-width: 1200px) {
	.plat-footer {
		min-width: 320px;
		padding-left: 10px;
		padding-right: 10px
	}
}

@media screen and (max-width: 1150px) {
	.plat-footer-blogroll-links-group {
		display: inline-block;
		vertical-align: middle
	}

	.plat-footer-blogroll-links-separate {
		display: none
	}
}

@media screen and (max-width: 768px) {
	.plat-footer-service {
		display: none
	}

	.plat-footer-blogroll-main {
		margin-right: 0;
		text-align: center;
		padding-left: 15px;
		padding-right: 15px
	}

	.plat-footer-blogroll-extra {
		display: none
	}

	.plat-footer-lang-switch {
		display: block
	}
}

@media screen and (max-width: 600px) {
	.plat-footer {
		padding-left: 0;
		padding-right: 0
	}

	.plat-footer-inner {
		margin-left: 0;
		margin-right: 0;
		padding: 0
	}

	.plat-footer-website .plat-footer-inner {
		border-bottom: none;
		padding-bottom: 0;
		min-height: 0
	}

	.plat-footer-website-columns.plat-footer-grid {
		margin-right: 0
	}

	.plat-footer-website-columns [class*=plat-footer-g-] {
		padding-right: 0
	}

	.plat-footer-website-title {
		position: relative;
		margin-bottom: 0
	}

	.plat-footer-website-title:after,
	.plat-footer-website-list:after {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 1px;
		border-bottom: 1px solid #ccc;
		transform: scale3d(1, 0.5, 1);
		-ms-transform-origin: center bottom;
		transform-origin: center bottom
	}

	.plat-footer-website-title a {
		position: relative;
		padding: 0 15px;
		height: 56px;
		font-size: 14px;
		line-height: 56px
	}

	.plat-footer-website-title a:after {
		content: "";
		position: absolute;
		right: 15px;
		top: 50%;
		margin-top: -8px;
		box-sizing: border-box;
		width: 10px;
		height: 10px;
		border-right: 2px solid #666;
		border-bottom: 2px solid #666;
		transform: rotate3d(0, 0, 1, 45deg);
		transition: transform .2s linear
	}

	.plat-footer-website-list {
		position: relative;
		display: none
	}

	.plat-footer-website-list a {
		padding: 0 15px;
		height: 40px;
		font-size: 12px;
		line-height: 40px
	}

	.plat-footer-website-group.actived .plat-footer-website-title a:after {
		margin-top: -2px;
		transform: rotate3d(0, 0, 1, -135deg)
	}

	.plat-footer-website-group.actived .plat-footer-website-list {
		display: block
	}

	.plat-footer-copyright {
		position: static;
		margin-top: 20px;
		padding: 0 15px 1px;
		width: auto;
		text-align: center
	}

	.plat-footer-share-links {
		margin-bottom: 14px;
		    display: none;
	}

	.plat-footer-share-links>li {
		width: auto
	}

	.plat-footer-share-links a {
		padding: 10px
	}

	.plat-footer-website .mobile-part,
	.plat-footer-website .mobile-part .plat-nav-btn {
		margin-bottom: 20px
	}

	.plat-footer-select:hover .plat-footer-dropdown,
	.plat-footer-select.hover .plat-footer-dropdown {
		display: none
	}

	.plat-footer-select:hover .plat-footer-select-trigger:after,
	.plat-footer-select.hover .plat-footer-select-trigger:after {
		-ms-transform: rotate(0);
		transform: rotate(0)
	}

	.plat-footer-select.show .plat-footer-dropdown {
		display: block
	}

	.plat-footer-select.show .plat-footer-select-trigger:after {
		-ms-transform: rotate(180deg);
		transform: rotate(180deg)
	}

	.plat-footer-copyright-text {
		margin-bottom: 14px
	}

	.plat-footer-copyright-text span {
		display: inline
	}

	.plat-footer-copyright .plat-nav-btn {
		height: 40px;
		line-height: 40px
	}

	.plat-footer-copyright .plat-nav-btn-weak {
		margin-bottom: 15px;
		border: 1px solid rgba(255, 255, 255, .3);
		background: transparent;
		color: #ccc
	}

	.plat-footer-blogroll-main,
	.plat-footer-blogroll-extra {
		display: none
	}

	.plat-footer-lang-switch {
		margin-top: 0;
		padding: 24px 0
	}

	.plat-footer-short .plat-footer-blogroll-main {
		padding-top: 24px;
		display: block
	}

	.plat-footer-short .plat-footer-blogroll-links {
		display: none
	}

	.plat-footer-short .plat-footer-blogroll-links.copyright {
		display: block
	}

	.plat-footer-short .plat-footer-lang-switch {
		padding-top: 10px
	}

	.plat-footer-short .mobile-part {
		margin-bottom: -4px;
		padding: 20px 15px 0
	}

	.plat-footer-short .mobile-part+.plat-footer-blogroll-main {
		padding-bottom: 20px
	}
}

@media screen and (max-width: 400px) {
	.plat-footer-copyright-text span {
		display: block
	}
}

@media screen and (max-width: 768px) {
	.plat-footer-recommend {
		display: none
	}
}

@media screen and (min-width: 600px) {
	.plat-weixin-search {
		display: none
	}
}

@media screen and (max-width: 599px) {
	.plat-weixin-search {
		margin-bottom: 18px
	}

	.plat-weixin-search img {
		width: 100%;
		display: block
	}
}