.home-register {
	position: relative;
	min-height: 100px;
}

.home-register-bg {
	position: absolute;
	z-index: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-position: 50%;
	background-size: cover
}

.home-register-content {
	position: relative;
	z-index: 1;
	height: 150px;
	line-height: 150px;
	font-size: 0;
	text-align: center
}

.home-register-text {
	display: inline-block;
	vertical-align: middle;
	max-width: calc(100% - 170px);
	padding-right: 150px;
	font-size: 32px;
	line-height: 45px;
	color: #fff
}

.home-register-text-dark {
	color: #252b3a
}
.home-register-text.home-register-text-dark{
	color: #fff
}
@media (max-width:1023px) {
	.home-register-content {
		height: 128px
	}

	.home-register-text {
		font-size: 24px;
		line-height: 1.5
	}
	.home-global-site-3d .section-body{width: auto;}
	.home-global-site-3d .section-body-left .global-site-data{box-shadow: none;}
}

@media (max-width:767px) {
	.home-register-content {
		padding-top: 37px;
		height: 128px;
		line-height: 0
	}

	.home-register-text {
		display: block;
		max-width: none;
		padding: 0;
		margin-bottom: 16px;
		font-size: 16px;
		line-height: 20px
	}
}